<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>746992426095-7hirisogh7i4c5stglr2nj339emmioa7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746992426095-7hirisogh7i4c5stglr2nj339emmioa7</string>
	<key>API_KEY</key>
	<string>AIzaSyCdVnRMfVzK6H7DvuqvB69rCicOYpmEv8M</string>
	<key>GCM_SENDER_ID</key>
	<string>746992426095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.nyu.cs.kc3585.MrSecure</string>
	<key>PROJECT_ID</key>
	<string>nodemcu-ace5b</string>
	<key>STORAGE_BUCKET</key>
	<string>nodemcu-ace5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746992426095:ios:280b9f824d1997ad</string>
	<key>DATABASE_URL</key>
	<string>https://nodemcu-ace5b.firebaseio.com</string>
</dict>
</plist>